{% extends 'base.html' %}

{% block content %}
  <h2>{{ user.username }}</h2>
  {% with followers=user.followers.all followings=user.followings.all %}
    <p class="lead">
      팔로워 : {{ followers|length }} / 팔로잉 : {{ followings|length }}
    </p>
  {% endwith %}

  {% if user.review_set.all %}
    {% for review in user.review_set.all %}
      <p>평점: {{ review.score }}</p>
      <p>내용: {{ review.content }}</p>
      <hr>
    {% endfor %}
  {% else %}
    <p>작성한 영화리뷰가 없습니다.</p>
  {% endif %}
  <br>

  {% if user.liked_movies.all %}
    {% for movie in user.liked_movies.all %}
    <hr>
      <p>제목: {{ movie.title }}</p>
      <p>영화설명: {{ movie.description }}</p>
    {% endfor %}
  {% endif %}
{% endblock %}
